<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary pull-right"  (click)="openModalAdd(add)">Add</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sopeap</td>
                        <td>Address</td>
                        <td>
                            <button class="btn btn-warning">Edit</button> | 
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #add>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <form>
            <label for="name">label</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Input field">
            <p class="text-danger">{{errorMsg.name}}</p>
            <label for="address">label</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="user.address" placeholder="Input field">
            <p class="text-danger">{{errorMsg.address}}</p>
    
      
          <button type="submit" class="btn btn-primary" (click)="onSave()">Submit</button>
      </form>
      
    </div>
</ng-template>